:root {
    --navbar-bg-color: #46B7C3;
    --main-bg-color: #FFE882;
    --button-bg-color: #A2A0CF;
}
body {
    margin: 0px;
    background-color: rgb(218, 218, 218);
    font-family: 'Ubuntu Mono', monospace;
}

#header-container {
    display: flex;
    background-color: var(--navbar-bg-color);
    align-items: center;
}

#header-container img {
    padding: 1%;
}

#site-title {
    margin: 0;
    padding: 10px 20px;
    font-size: 40px;
    font-weight: 100;
    color: var(--main-bg-color);
}

#button-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 143px;
    left: 75%;
    height: 100%;
}

#button-container input {
    height: 60px;
    font-size: 40px;
    margin-top: 20px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    border-width: 1px;
}

#button-container input:focus {
    background-color: rgb(233, 233, 233);
    border-color: rgb(233, 233, 233);
    outline: none;
}

#button-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95px;
    font-size: 30px;
    font-weight: bold;
    border-style: solid;
    border-color: var(--button-bg-color);
    border-radius: 15px;
    border-width: 1px;
    margin-top: 15px;
    background-color: var(--button-bg-color);
}

#button-container button:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: var(--navbar-bg-color);
}

button#add-content {
    position: fixed;
    bottom: 5%;
    width: 432px;
}

.ducky {
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 7px;
    margin: 25px;
    padding: 10px;
    min-height: 100px;
    width: 70%
    
}

.ducky:hover {
    border-color: var(--main-bg-color);
    cursor: pointer;
}

.ducky-content {
    max-width: 1300px;
}

.type-label {
    display: inline-block;
    text-align: right;
    font-size: 20px;
    width: 25%;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ducky-title {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    margin-right: 0px;
}

.ducky-author {
    text-align: right;
    margin-bottom: 6px;
    font-size: 20px;
}

.ducky-time {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}

.post {
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin: 25px;
    padding: 10px;
    min-height: 100px;
    width: 70%
    
}

.post-container {
    width: 75%;
}

.post-content {
    max-width: 1300px;
}

.post-type-label {
    display: inline-block;
    text-align: right;
    font-size: 20px;
    width: 25%;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-title {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    margin-right: 0px;
}

.post-text {
    font-size: 20px;
    width: 80%;
    height: 100px;
}

.post-author {
    text-align: right;
    margin-bottom: 6px;
    font-size: 20px;
}

.post-time {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}



.response {
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin: 25px;
    padding: 10px;
    min-height: 100px;
    width: 60%;
    
}

.response-content {
    max-width: 1300px;
}

.response-text{
    font-size: 20px;
    width: 80%;
}

.response-author {
    text-align: right;
    margin-bottom: 6px;
    font-size: 20px;
}

.response-time {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}