body{
    margin: 0px;
    background-color: lightgray;
}

#header-container{
    display: flex;
    background-color: #319df6;
}

#site-title{
    margin: 0;
    padding: 10px 20px;
    font-size: 40px;
    font-weight: 100;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

#searchbar{
    position: fixed;
    top: 75px;
    right: 55px; 
    height: 70px;
    width: 19.5%;
    font-size: 40px;
    margin-top: 20px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 4px;
}

#searchbar:search-query{
    border-color: rgb(255, 0, 0);
}

#add-content{
    position: fixed;
    bottom: 50px;
    right: 55px;
    height: 70px;
    width: 20%;
    font-size: 30px;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    margin-top: 15px;
}

#add-content-para{
    margin-top: 15px;
    margin-bottom: 15px;
}

#add-content:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: yellow;
}


#show-questions{
    background-color: cornflowerblue;
    color: white;
    position: fixed;
    top: 200px;
    right: 55px;
    height: 70px;
    width: 20%;
    font-size: 20px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
}

#show-questions:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color:#1a67a7;
}


#show-discussions{
    background-color: cornflowerblue;
    color: white;
    position: fixed;
    top: 300px;
    right: 55px;
    height: 70px;
    width: 20%;
    font-size: 20px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
}

#show-discussions:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color:#1a67a7;
}


#show-tutorials{
    background-color: cornflowerblue;
    color: white;
    position: fixed;
    top: 400px;
    right: 55px;
    height: 70px;
    width: 20%;
    font-size: 20px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
}

#show-tutorials:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color:#1a67a7;
}



.ducky{
    /* display: flex; */
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin: 25px;
    padding: 10px;
    min-height: 100px;
    width: 70%
    
}

.ducky:hover{
    border-color: rgb(0, 140, 255);
}

.ducky-container{
    /* display: flex;
    flex-direction: column; */
}

.ducky-content{
    /* background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin: 25px;
    min-height: 100px; 
    display: block;
    display: flex;*/
    max-width: 1300px;
    /* min-width: 300px;*/
    /* display: inline-block;  */
}

.type-label{
    display: inline-block;
    text-align: right;
    font-size: 20px;
    width: 25%;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ducky-title{
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    margin-right: 0px;
    /* margin: 0px;
    margin-top: 40px;
    margin-left: 10px;  */
}

.ducky-author{
    text-align: right;
    margin-bottom: 6px;
    font-size: 20px;
    /* margin: 0px; 
    margin-top: 55px;
    position: fixed;
    padding-right: 0px;
    right: 180px;
    font-size: 20px; */

     /* margin-bottom: 10px; 
     font-weight: bold; */
}

.ducky-time{
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    /* margin: 0px; 
    margin-top: 75px;
    position: fixed;
    padding-right: 0px;
    right: 180px;
    font-size: 15px; */
}

.post{
    /* display: flex; */
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin: 25px;
    padding: 10px;
    min-height: 100px;
    width: 70%
    
}

.post-container{
    /* display: flex;
    flex-direction: column; */
    width: 75%;
}

.post-content{
    /* background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin: 25px;
    min-height: 100px; 
    display: block;
    display: flex;*/
    max-width: 1300px;
    /* min-width: 300px;*/
    /* display: inline-block;  */
}

.post-type-label{
    display: inline-block;
    text-align: right;
    font-size: 20px;
    width: 25%;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-title{
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    margin-right: 0px;
    /* margin: 0px;
    margin-top: 40px;
    margin-left: 10px;  */
}

.post-text{
    font-size: 20px;
    width: 80%;
    height: 100px;
}

.post-author{
    text-align: right;
    margin-bottom: 6px;
    font-size: 20px;
    /* margin: 0px; 
    margin-top: 55px;
    position: fixed;
    padding-right: 0px;
    right: 180px;
    font-size: 20px; */

     /* margin-bottom: 10px; 
     font-weight: bold; */
}

.post-time{
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    /* margin: 0px; 
    margin-top: 75px;
    position: fixed;
    padding-right: 0px;
    right: 180px;
    font-size: 15px; */
}



.response{
    /* display: flex; */
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin: 25px;
    padding: 10px;
    min-height: 100px;
    width: 60%;
    
}

.response-content{
    /* background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin: 25px;
    min-height: 100px; 
    display: block;
    display: flex;*/
    max-width: 1300px;
    /* min-width: 300px;*/
    /* display: inline-block;  */
}

.response-text{
    font-size: 20px;
    width: 80%;
}

.response-author{
    text-align: right;
    margin-bottom: 6px;
    font-size: 20px;
    /* margin: 0px; 
    margin-top: 55px;
    position: fixed;
    padding-right: 0px;
    right: 180px;
    font-size: 20px; */

     /* margin-bottom: 10px; 
     font-weight: bold; */
}

.response-time{
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    /* margin: 0px; 
    margin-top: 75px;
    position: fixed;
    padding-right: 0px;
    right: 180px;
    font-size: 15px; */
}