<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Rubber Ducky</title>

        <link rel="stylesheet" href="/style.css" media="screen">
        <script src="/index.js" charset="utf-8" defer></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet"> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.runtime.js" integrity="sha512-0bRnmqp8jww8h5q9khSJSMF7kUFVuzAiVpbwCr1+kot0yAwtVukdBQGznIvytgpFzy6wEgFbjbNSO2xcSBHTWA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/duckytemplate.js" charset="utf-8" defer></script>
        <script src="/replytemplate.js" charset="utf-8" defer></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap" rel="stylesheet">
    </head>
    <header>
        <main id="header-container">
            <img src="/rubber_ducky.png" alt="Rubber Ducky" width="125px" height="100px"/>
            <h1 id="site-title">Rubber Ducky</h1>

            <!-- <input type="text" id="searchbar" placeholder="search"> -->
        </main>
    </header>

    <body>{{{body}}}</body>

</html>